.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.blockquote_container{
  background: var(--dark-grayish);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
}  

.blockquote_container h1{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: var(--neon-green);
  
}

.blockquote_container p{
  color: var(--light-cyan);
  font-size: var(--quote-size);
  font-weight: 700;
  margin-block: 15px;
}

.division_line{
  background: url('./assets/pattern-divider-mobile.svg') no-repeat;
  width: 100%;
  height: 20px;
  background-size: 100% 20px;
}

.btn_random{
  background: var(--neon-green) url('./assets/icon-dice.svg') no-repeat;
  background-position: center;
  width: 56px;
  height: 56px;
  position: relative;
  bottom: -60px;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.btn_random:hover{
  box-shadow: 4px 4px 20px var(--neon-green);
}

.loading_container span{
  background: var(--neon-green);
  display: inline-block;
  width: 20px ;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  filter: drop-shadow(2px 4px 10px var(--neon-green));
}

.loading_container span:nth-child(1){
  animation: loading .5s infinite alternate-reverse ;
}

.loading_container span:nth-child(2){
  animation: loading .8s infinite alternate-reverse ;
  animation-delay: .5s;
}

.loading_container span:nth-child(3){
  animation: loading .8s infinite alternate ;
  animation-delay: 1s;
}

@keyframes loading{
  0%{
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .blockquote_container{
    width: 600px;
  }
  .division_line{
    background: url('./assets/pattern-divider-desktop.svg') no-repeat;
    height: 25px;
    background-size: 100% 25px;
  }
}
