@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root{
  --light-cyan : #cee3e9;
  --neon-green: #52ffa8;
  --grayish-blue : #4e5d73;
  --dark-grayish :#323a49 ;
  --dark-blue: #1f2632;
  --quote-size : 28px;
}

body{
  font-family: "Manrope", sans-serif;
  background: var(--dark-blue);
  margin-inline: auto;
}
